# Testing pygwalker

In [1]:
# Import Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import linregress, ttest_ind
import scipy.stats as stats
from scipy import stats
import pygwalker as pyg
import sys
import requests

### Installation

In [ ]:
# Ensure the correct conda enviornment is selected
!conda activate dev

# Ensure Conda is up to date
!conda update --all

# Install pygwalker
!conda install -c conda-forge pygwalker

#This code was used to ensure it would display properly in Jupyter Lab
!pip install --upgrade jupyterlab ipywidgets
!pip install --upgrade gw-dsl-parser==0.1.8a0 duckdb==0.9.2 segment-analytics-python==2.2.3
!jupyter labextension install @jupyter-widgets/jupyterlab-manager

In [2]:
# Load CSVs
menu_df = pd.read_csv('Data/fastfood.csv')

chains_df = pd.read_csv('Data/chains.csv')

In [3]:
menu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   restaurant   515 non-null    object
 1   item         515 non-null    object
 2   calories     515 non-null    int64
 3   cal_fat      515 non-null    int64
 4   total_fat    515 non-null    int64
 5   sat_fat      515 non-null    float64
 6   trans_fat    515 non-null    float64
 7   cholesterol  515 non-null    int64
 8   sodium       515 non-null    int64
 9   total_carb   515 non-null    int64
 10  fiber        503 non-null    float64
 11  sugar        515 non-null    int64
 12  protein      514 non-null    float64
 13  vit_a        301 non-null    float64
 14  vit_c        305 non-null    float64
 15  calcium      305 non-null    float64
 16  salad        515 non-null    object
dtypes: float64(7), int64(7), object(3)
memory usage: 68.5+ KB

In [4]:
# Drop Columns missing several values
# Dropping Salad because it's not a useful field
menu_df = menu_df.drop(labels=['vit_a', 'vit_c', 'calcium', 'salad'], axis=1)
menu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   restaurant   515 non-null    object
 1   item         515 non-null    object
 2   calories     515 non-null    int64
 3   cal_fat      515 non-null    int64
 4   total_fat    515 non-null    int64
 5   sat_fat      515 non-null    float64
 6   trans_fat    515 non-null    float64
 7   cholesterol  515 non-null    int64
 8   sodium       515 non-null    int64
 9   total_carb   515 non-null    int64
 10  fiber        503 non-null    float64
 11  sugar        515 non-null    int64
 12  protein      514 non-null    float64
dtypes: float64(4), int64(7), object(2)
memory usage: 52.4+ KB

In [5]:
# Clean Fiber and Protien missing values
# Calculate column averages
fiber_avg = menu_df['fiber'].mean()
protein_avg = menu_df['protein'].mean()

# Fill missing values with averages
menu_df['fiber'].fillna(fiber_avg, inplace=True)
menu_df['protein'].fillna(protein_avg, inplace=True)

# Verify the changes
menu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   restaurant   515 non-null    object
 1   item         515 non-null    object
 2   calories     515 non-null    int64
 3   cal_fat      515 non-null    int64
 4   total_fat    515 non-null    int64
 5   sat_fat      515 non-null    float64
 6   trans_fat    515 non-null    float64
 7   cholesterol  515 non-null    int64
 8   sodium       515 non-null    int64
 9   total_carb   515 non-null    int64
 10  fiber        515 non-null    float64
 11  sugar        515 non-null    int64
 12  protein      515 non-null    float64
dtypes: float64(4), int64(7), object(2)
memory usage: 52.4+ KB

In [9]:
menu_df.head()

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2.0,0.0,95,1110,44,3.0,11,37.0
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17.0,1.5,130,1580,62,2.0,18,46.0
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27.0,3.0,220,1920,63,3.0,18,70.0
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,280,31,10.0,0.5,155,1940,62,2.0,18,55.0
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,920,410,45,12.0,0.5,120,1980,81,4.0,18,46.0

In [18]:
numeric_columns = menu_df[['calories', 'cal_fat', 'total_fat', 'sat_fat', 'trans_fat', 'cholesterol', 'sodium', 'total_carb', 'fiber', 'sugar', 'protein']]

# chain_nutrition = menu_df.groupby('restaurant').mean()
chain_nutrition = numeric_columns.groupby(menu_df['restaurant']).mean()

chain_nutrition.reset_index(inplace=True)

chain_nutrition

,restaurant,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein
0,Arbys,532.727273,237.836364,26.981818,7.972727,0.418182,70.454545,1515.272727,44.872727,2.709091,7.563636,29.254545
1,Burger King,608.571429,333.757143,36.814286,11.150000,0.864286,100.857143,1223.571429,39.314286,2.633882,8.185714,29.984158
2,Chick Fil-A,384.444444,145.370370,16.148148,4.111111,0.037037,79.074074,1151.481481,28.629630,2.454606,4.148148,31.703704
3,Dairy Queen,520.238095,260.476190,28.857143,10.440476,0.678571,71.547619,1181.785714,38.690476,2.833333,6.357143,24.833333
4,Mcdonalds,640.350877,285.614035,31.807018,8.289474,0.464912,109.736842,1437.894737,48.789474,3.228070,11.070175,40.298246
5,Sonic,631.698113,338.301887,37.641509,11.415094,0.933962,86.981132,1350.754717,47.207547,2.660377,6.528302,29.188679
6,Subway,503.020833,165.104167,18.479167,6.197917,0.218750,61.302083,1272.968750,54.718750,6.562500,10.093750,30.312500
7,Taco Bell,443.652174,188.000000,20.895652,6.591304,0.256522,39.043478,1013.913043,46.634783,5.713043,3.704348,17.417391

In [23]:
chains_df

,company,category,sales_in_millions_2019,sales_per_unit_thousands_2019,franchised_units_2019,company_owned_units_2019,total_units_2019,unit_change_from_2018
0,mcdonalds,burger,40413,2912,13154,692,13846,-66
1,starbucks,snack,21550,1454,6768,8273,15041,216
2,chick_fil_a,chicken,11000,4517,2500,0,2500,130
3,taco_bell,global,11000,1502,6622,467,7089,181
4,burger_king,burger,10300,1399,7294,52,7346,16
5,subway,sandwich,10000,410,23802,0,23802,-996
6,wendys,burger,9865,1666,5495,357,5852,30
7,dunkin,snack,9220,968,9630,0,9630,42
8,dominos,pizza,7100,1178,5815,342,6157,253
9,panera_bread,sandwich,5925,2751,1202,1023,2225,132
10,chipotle,global,5520,2195,0,2580,2580,130
11,pizza_hut,pizza,5380,714,7393,23,7416,-40
12,kfc,chicken,4820,1196,4009,56,4065,-9
13,sonic_drive_in,burger,4687,1320,3329,197,3526,-74
14,arbys,sandwich,3885,1183,2170,1189,3359,30
15,little_caesars,pizza,3850,899,3652,561,4213,-49
16,panda_express,global,3800,1765,138,2046,2184,80
17,dairy_queen,snack,3760,713,4379,2,4381,-25
18,popeyes_chicken,chicken,3750,1541,2458,41,2499,131
19,jack_in_the_box,burger,3505,1565,2106,137,2243,6
20,papa_johns,pizza,2655,837,2544,598,3142,-57
21,whataburger,burger,2566,3080,127,703,830,5
22,jimmy_johns,sandwich,2105,759,2735,52,2787,-13
23,hardees,burger,2070,1126,1713,117,1830,-16
24,zaxbys,chicken,1840,2030,755,149,904,6
25,culvers,burger,1730,2435,726,6,733,46
26,five_guys,burger,1662,1359,872,496,1368,10
27,raising_canes,chicken,1466,3208,86,371,457,57
28,wingstop,chicken,1400,1250,1200,31,1231,107
29,carls_jr,burger,1390,1252,1052,48,1100,-21
30,jersey_mikes,sandwich,1340,824,1595,72,1667,173
31,bojangles,chicken,1290,1717,434,312,746,-10
32,in_n_out_burger,burger,1000,2882,0,354,354,14
33,steak_n_shake,burger,932,1673,183,365,577,-19
34,el_pollo_loco,chicken,894,1865,277,203,480,4
35,qdoba,global,850,1250,380,350,730,-21
36,checkers_rallys,burger,862,1087,634,256,890,4
37,firehouse_subs,sandwich,855,729,1115,38,1153,24
38,del_taco,global,850,1554,296,300,596,16
39,tim_hortons,sandwich,840,1165,715,0,715,-12
40,moes,global,785,1095,719,3,722,3
41,papa_murphys,pizza,748,551,1301,67,1368,-69
42,mcalisters_deli,sandwich,719,1629,438,31,469,16
43,jasons_deli,sandwich,705,2478,110,180,290,11
44,churchs_chicken,chicken,700,688,885,165,1050,-35
45,shake_shack,burger,630,4214,22,163,185,59
46,marcos_pizza,pizza,628,726,875,40,915,32
47,baskin_robbins,snack,626,247,2524,0,2524,-26
48,tropical_smoothie,snack,577,769,833,1,834,115
49,auntie_annes,snack,563,562,1200,11,1211,-20

In [7]:
chains_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   company                        50 non-null     object
 1   category                       50 non-null     object
 2   sales_in_millions_2019         50 non-null     int64
 3   sales_per_unit_thousands_2019  50 non-null     int64
 4   franchised_units_2019          50 non-null     int64
 5   company_owned_units_2019       50 non-null     int64
 6   total_units_2019               50 non-null     int64
 7   unit_change_from_2018          50 non-null     int64
dtypes: int64(6), object(2)
memory usage: 3.2+ KB

In [26]:
chains_df['company'] = chains_df['company'].str.lower()
chain_nutrition['restaurant'] = chain_nutrition['restaurant'].str.lower().str.replace(' ', '_').str.replace('-', '_').str.replace('sonic', 'sonic_drive_in')
chain_nutrition
merged_df = pd.merge(chains_df, chain_nutrition, how='inner', left_on='company', right_on='restaurant')
merged_df

,company,category,sales_in_millions_2019,sales_per_unit_thousands_2019,franchised_units_2019,company_owned_units_2019,total_units_2019,unit_change_from_2018,restaurant,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein
0,mcdonalds,burger,40413,2912,13154,692,13846,-66,mcdonalds,640.350877,285.614035,31.807018,8.289474,0.464912,109.736842,1437.894737,48.789474,3.228070,11.070175,40.298246
1,chick_fil_a,chicken,11000,4517,2500,0,2500,130,chick_fil_a,384.444444,145.370370,16.148148,4.111111,0.037037,79.074074,1151.481481,28.629630,2.454606,4.148148,31.703704
2,taco_bell,global,11000,1502,6622,467,7089,181,taco_bell,443.652174,188.000000,20.895652,6.591304,0.256522,39.043478,1013.913043,46.634783,5.713043,3.704348,17.417391
3,burger_king,burger,10300,1399,7294,52,7346,16,burger_king,608.571429,333.757143,36.814286,11.150000,0.864286,100.857143,1223.571429,39.314286,2.633882,8.185714,29.984158
4,subway,sandwich,10000,410,23802,0,23802,-996,subway,503.020833,165.104167,18.479167,6.197917,0.218750,61.302083,1272.968750,54.718750,6.562500,10.093750,30.312500
5,sonic_drive_in,burger,4687,1320,3329,197,3526,-74,sonic_drive_in,631.698113,338.301887,37.641509,11.415094,0.933962,86.981132,1350.754717,47.207547,2.660377,6.528302,29.188679
6,arbys,sandwich,3885,1183,2170,1189,3359,30,arbys,532.727273,237.836364,26.981818,7.972727,0.418182,70.454545,1515.272727,44.872727,2.709091,7.563636,29.254545
7,dairy_queen,snack,3760,713,4379,2,4381,-25,dairy_queen,520.238095,260.476190,28.857143,10.440476,0.678571,71.547619,1181.785714,38.690476,2.833333,6.357143,24.833333

In [6]:
# testing pygwalker
pyg.walk(menu_df, dark='light')

Box(children=(HTML(value='<div id="ifr-pyg-0" style="height: auto">\n    <head>\n        <meta http-equiv="Con…

In [27]:
# testing pygwalker
pyg.walk(merged_df, dark='light')

Box(children=(HTML(value='<div id="ifr-pyg-0" style="height: auto">\n    <head>\n        <meta http-equiv="Con…